.App {
  background-color: white;
}

.App1 {
  /* background-color: white; */
  /* background-image: url("./images/gavel-gd01210879_640.jpg"); */
  /* text-align: center; */
  /* background-attachment: fixed; */
  /* Full height */
  /* height: 100vh; */

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%; */

  /* background-color: white; */

  background: url(./images/gavel-gd01210879_640.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App2 {
  /* background-color: white; */
  background-image: url("./images/gavel-gd01210879_640.jpg");
  /* text-align: center; */
  background-attachment: fixed;
  /* Full height */
  /* height: 100vh; */

  /* Center and scale the image nicely */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  width: 100%;

  /* background-color: white; */

  /* background: url(./images/gavel-gd01210879_640.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
.App3 {
  background-image: url("./images/sellerhomebgc.png");
  /* text-align: center; */
  background-attachment: fixed;
  /* Full height */
  /* height: 100vh; */

  /* Center and scale the image nicely */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
}

.App4 {
  background-image: url("./images/bidderhomebgc.png");
  /* text-align: center; */
  background-attachment: fixed;
  /* Full height */
  /* height: 100vh; */

  /* Center and scale the image nicely */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
}

.App5 {
  background-image: url("./images/adminhomebgc.png");
  /* text-align: center; */
  background-attachment: fixed;
  /* Full height */
  /* height: 100vh; */

  /* Center and scale the image nicely */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
}

tr {
  background-color: white;
  opacity: 0.9;
  color: black;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
  /* height: 100vh; */
}

.Auth-form {
  width: 700px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

td {
  padding: 20px;
  margin: 15px;
}

button {
  padding: 15px;
  margin: 25px;
}
.btn {
  padding: 15px;
  margin: 25px;
}

.error {
  color: red;
}
